<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558289620568-584ui9dvdlmeuafsqtilv6r9mk64jd78.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558289620568-584ui9dvdlmeuafsqtilv6r9mk64jd78</string>
	<key>API_KEY</key>
	<string>AIzaSyC6YYwPk2YKGhg4rByLY04Ol30H3_W8qgQ</string>
	<key>GCM_SENDER_ID</key>
	<string>558289620568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rajaryan.yo</string>
	<key>PROJECT_ID</key>
	<string>authentication-99c0c</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-99c0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558289620568:ios:5c39c9375befd57c4ac42d</string>
</dict>
</plist>